In [2]:
#Fetch the host country and year of FIFA WorldCup into a dictionary
import pandas as pd
dfa = pd.read_csv('results.csv')
dfa['year'] = pd.DatetimeIndex(dfa['date']).year
fifa = dfa[dfa['tournament']=='FIFA World Cup']
dates = fifa.date.tolist()
years=[]
for date in dates:
    year=date.split('-')[0]
    if year not in years:
        years.append(year)
dictOfCountries={}
for i in range(len(years)):
    for j in range(len(fifa[fifa['year']==eval(years[i])].country.unique())):
        if years[i] in dictOfCountries.keys():
            dictOfCountries[years[i]].append(fifa[fifa['year']==eval(years[i])].country.unique()[j])
        else:
            dictOfCountries[years[i]]=[fifa[fifa['year']==eval(years[i])].country.unique()[j]]

In [4]:
dictOfCountries

{'1930': ['Uruguay'],
 '1934': ['Italy'],
 '1938': ['France'],
 '1950': ['Brazil'],
 '1954': ['Switzerland'],
 '1958': ['Sweden'],
 '1962': ['Chile'],
 '1966': ['England'],
 '1970': ['Mexico'],
 '1974': ['Germany'],
 '1978': ['Argentina'],
 '1982': ['Spain'],
 '1986': ['Mexico'],
 '1990': ['Italy'],
 '1994': ['United States'],
 '1998': ['France'],
 '2002': ['South Korea', 'Japan'],
 '2006': ['Germany'],
 '2010': ['South Africa'],
 '2014': ['Brazil'],
 '2018': ['Russia']}

In [5]:
#Print unique tournaments
listx = list(dfa['tournament'].unique())
print(listx)

['Friendly', 'British Championship', 'Copa Lipton', 'Copa Newton', 'Copa Premio Honor Argentino', 'Copa Premio Honor Uruguayo', 'Copa Roca', 'Copa América', 'Copa Chevallier Boutell', 'Nordic Championship', 'International Cup', 'Baltic Cup', 'Balkan Cup', 'FIFA World Cup', 'Copa Rio Branco', 'FIFA World Cup qualification', 'CCCF Championship', 'NAFU Championship', 'Copa Oswaldo Cruz', 'Pan American Championship', 'Copa del Pacífico', "Copa Bernardo O'Higgins", 'AFC Asian Cup qualification', 'Atlantic Cup', 'AFC Asian Cup', 'African Cup of Nations', 'Copa Paz del Chaco', 'Merdeka Tournament', 'UEFA Euro qualification', 'UEFA Euro', 'Windward Islands Tournament', 'African Cup of Nations qualification', 'Vietnam Independence Cup', 'Copa Carlos Dittborn', 'CONCACAF Championship', 'Copa Juan Pinto Durán', 'UAFA Cup', 'South Pacific Games', 'CONCACAF Championship qualification', 'Copa Artigas', 'GaNEFo', "King's Cup", 'Gulf Cup', 'Indonesia Tournament', 'Korea Cup', 'Brazil Independence Cup', 'Copa Ramón Castilla', 'Oceania Nations Cup', 'CECAFA Cup', 'Copa Félix Bogado', 'Kirin Cup', 'CFU Caribbean Cup qualification', 'CFU Caribbean Cup', 'Amílcar Cabral Cup', 'Mundialito', 'West African Cup', 'Nehru Cup', 'Merlion Cup', 'UDEAC Cup', 'Rous Cup', 'Lunar New Year Cup', 'Tournoi de France', 'Malta International Tournament', 'Island Games', 'Dynasty Cup', 'UNCAF Cup', 'Gold Cup', 'USA Cup', 'Jordan International Tournament', 'Confederations Cup', 'United Arab Emirates Friendship Tournament', 'Oceania Nations Cup qualification', 'Simba Tournament', 'SAFF Cup', 'AFF Championship', 'King Hassan II Tournament', 'Cyprus International Tournament', 'Dunhill Cup', 'COSAFA Cup', 'Gold Cup qualification', 'SKN Football Festival', 'UNIFFAC Cup', 'WAFF Championship', 'Millennium Cup', "Prime Minister's Cup", 'EAFF Championship', 'AFC Challenge Cup', 'FIFI Wild Cup', 'ELF Cup', 'Viva World Cup', 'UAFA Cup qualification', 'AFC Challenge Cup qualification', 'African Nations Championship', 'VFF Cup', 'Dragon Cup', 'ABCS Tournament', 'Nile Basin Tournament', 'Nations Cup', 'Pacific Games', 'OSN Cup', 'CONIFA World Football Cup', 'CONIFA European Football Cup', 'Copa América qualification', 'World Unity Cup', 'Intercontinental Cup', 'AFF Championship qualification', 'UEFA Nations League', 'CONCACAF Nations League qualification', 'African Nations Championship qualification', 'Atlantic Heritage Cup', 'Inter Games Football Tournament', 'CONCACAF Nations League']

In [6]:
#Number of matches played in each tournament
dfa.tournament.value_counts()

Friendly                                17036
FIFA World Cup qualification             7236
UEFA Euro qualification                  2582
African Cup of Nations qualification     1672
FIFA World Cup                            900
                                        ...
World Unity Cup                             4
Dragon Cup                                  4
AFF Championship qualification              2
Atlantic Heritage Cup                       2
Copa América qualification                  2
Name: tournament, Length: 112, dtype: int64

In [7]:
#Print first 5 matches
dfa[:5]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876

In [9]:
#Print the name of the country which has hosted highest number of matches
dicta = dfa.country.value_counts()
print("Country that hosted the highest number of matches is",dicta.keys()[0],'with',dicta[0],'matches hosted')

Country that hosted the highest number of matches is United States with 1154 matches hosted