In [7]:
num1=35
num2=46
sum=num1+num2
avg=sum//2
print("Sum of two numbers is",sum)
print("Average is",avg)

Sum of two numbers is 81
Average is 40

In [8]:
lista=[1,2,3,4,5,6,7,8,9,10,11]
for i in lista:
    if i<5:
        print(i)

1
2
3
4

In [11]:
num=30
if num%10==0:
    print('Divisible by 10')
elif num%2==0:
    print('Even')
elif num%2!=0:
    print('Odd')

Divisible by 10

In [13]:
num1=4
num2=9
prod=num1*num2
if prod>500:
    print(num1+num2)

In [17]:
for i in range(4,21):
    print(i,'+',i-1,'=',i+(i-1))

4 + 3 = 7
5 + 4 = 9
6 + 5 = 11
7 + 6 = 13
8 + 7 = 15
9 + 8 = 17
10 + 9 = 19
11 + 10 = 21
12 + 11 = 23
13 + 12 = 25
14 + 13 = 27
15 + 14 = 29
16 + 15 = 31
17 + 16 = 33
18 + 17 = 35
19 + 18 = 37
20 + 19 = 39

In [20]:
letter=input()
vowels=['a','e','i','o','u']
if letter in vowels:
    print('Vowel')
else:
    print("Consonant")

g
Consonant

In [21]:
string=input()
for i in range(len(string)):
    if i%2==0:
        print(string[i])

qwerty
q
e
t

In [22]:
num=30
if num%10==0:
    print('Divisible by 10')
elif num%2==0:
    print('Even')
elif num%2!=0:
    print('Odd')

Divisible by 10

In [24]:
lista=[10,33,20,30,40,66,77]
for i in lista:
    if i%10==0:
        print(i)

10
20
30
40

In [26]:
lista=[10,20,30,40,50,20]
if lista[0]==lista[-1]:
    print('First and last elements are same')
else:
    print('First and last elements are different')

First and last elements are different

In [27]:
string='hi this is a test string'
string.replace(' ','_')

'hi_this_is_a_test_string'

In [30]:
string='malayalam'
for i in range(len(string)//2):
    if string[i]!=string[-(i+1)]:
        print('Not palindrome')
        break;
else:
    print('Palindrome')

Palindrome

In [32]:
n=45
a=0
b=1
for i in range(3,n+1):
    temp=a+b
    print(i,'th fibonacci number is',a+b)
    a=b
    b=temp

3 th fibonacci number is 1
4 th fibonacci number is 2
5 th fibonacci number is 3
6 th fibonacci number is 5
7 th fibonacci number is 8
8 th fibonacci number is 13
9 th fibonacci number is 21
10 th fibonacci number is 34
11 th fibonacci number is 55
12 th fibonacci number is 89
13 th fibonacci number is 144
14 th fibonacci number is 233
15 th fibonacci number is 377
16 th fibonacci number is 610
17 th fibonacci number is 987
18 th fibonacci number is 1597
19 th fibonacci number is 2584
20 th fibonacci number is 4181
21 th fibonacci number is 6765
22 th fibonacci number is 10946
23 th fibonacci number is 17711
24 th fibonacci number is 28657
25 th fibonacci number is 46368
26 th fibonacci number is 75025
27 th fibonacci number is 121393
28 th fibonacci number is 196418
29 th fibonacci number is 317811
30 th fibonacci number is 514229
31 th fibonacci number is 832040
32 th fibonacci number is 1346269
33 th fibonacci number is 2178309
34 th fibonacci number is 3524578
35 th fibonacci number is 5702887
36 th fibonacci number is 9227465
37 th fibonacci number is 14930352
38 th fibonacci number is 24157817
39 th fibonacci number is 39088169
40 th fibonacci number is 63245986
41 th fibonacci number is 102334155
42 th fibonacci number is 165580141
43 th fibonacci number is 267914296
44 th fibonacci number is 433494437
45 th fibonacci number is 701408733

In [35]:
stra='stringa'
strb='stringb'
strc=stra[:(len(stra)//2)+1]+strb+stra[(len(stra)//2)+1:]
print(strc)

stristringbnga

In [40]:
for i in range(7):
    for j in range(1,i):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [41]:
string="sdfgkjsbghsakjbghsoaghoasfghaosghsoahgoasfhgsoagsag"
print(string[:len(string)//4])

sdfgkjsbghsa

In [46]:
lista=[1,2,3,5,6]
if len(lista)%2==0:
    print((lista[len(lista)//2]+lista[(len(lista)//2)-1])/2)
else:
    print(lista[len(lista)//2])

3

In [79]:
lista =[1,2,3,45,56,7]
listb =[1,2,3,4,5,6,7,8,9]
#print(set(lista))
print((set(lista) & set(listb)))

{1, 2, 3, 7}

In [54]:
year=int(input())
if year%400==0:
    print('Leap year')
elif year%100==0:
    print('Not leap year')
elif year%4==0:
    print('Leap year')
else:
    print('Not leap year')

2020
Leap year

In [57]:
n=int(input())
for i in range(2,n//2):
    if n%i==0:
        print('Not Prime')
        break
else:
    print('Prime')

3
Prime

In [85]:
dicta={}
dictb={}
dicta[0]=1
dicta[1]=2
dicta[2]=3
dicta[3]=4
dictb[4]=5
dictb[5]=6
dictb[6]=7
dictb[7]=dicta

for v in dictb.values():
    if isinstance(v,dict):
        print(v.values())
    else:
        print(v)

5
6
7
dict_values([1, 2, 3, 4])

In [65]:
n=input()
lista=[]
for i in range(int(n)):
    lista.append(input())
dictionary={}
for i in range(int(n)):
    if lista[i] in dictionary:
        dictionary[lista[i]]=dictionary.get(lista[i])+1
    else:
        dictionary[lista[i]]=1
for w in sorted(dictionary, key=dictionary.get, reverse=True):
      print (w)

10
22
34
22
34
5
56
22
34
34
34
34
22
5
56

In [82]:
listc=[1,1,1,2,2,2,23,3,3,3,3]
seta=set(listc)
print(seta)
tup = tuple(seta)
print(min(tup))
print(max(tup))

{1, 2, 3, 23}
1
23

In [71]:
def interest():
    principal=int(input())
    n=int(input())
    interest=(principal*n*8)/100
    return interest+principal

In [72]:
interest()

1000
2

1160.0

In [76]:
type(set)

dict

In [77]:
del set